.bundle/
log/*.log
search_results/*
public/imported/*
public/downloaded/*
db/test.sqlite3
vendor/*
tmp/*
config/secrets.yml
config/database.yml

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
