.bundle/
log/*.log
search_results/*
imported/*
downloaded/*
db/*
config/secrets.yml
config/database.yml


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
