<h1>Welcome to OpenTrials!</h1>
<h2>This is currently a proof-of-concept for providing public access to data from clinicaltrials.gov.
	This allows the public to annotate and rate clinical trials
</h2>
