<header class="navbar">
     <div id="header-navbar-inner">
        <div class="pull-right container-fluid">
           <%= link_to (image_tag 'dcri_logo_large.gif', class: 'brand', alt: 'DCRI') %>
        </div>
     </div>
</header>
